Calibre\ Library
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Photo\ Booth\ Library/
Pictures
Public
Sites
VirtualBox\ VMs
bin/ec2/
bin/mate
bin/work.sh
chef-repo
data
doc
perl5
.CFUserTextEncoding
.DS_Store
.IABootFiles
.NERDTreeBookmarks
.Trash/
.Xauthority
.anyconnect
.bash_history
.boom
.cabal
.cheat/
.chef
.config
.cpan/
.cups/
.dbshell
.dropbox/
.erlang.cookie
.fontconfig/
.fonts
.gem/
.ghc
.gitconfig
.hd/
.heroku/
.io_history
.install4j
.irb_history
.irb-history
.irssi/
.jline-clojure.main.history
.lein/
.lesshst
.m2/
.macports
.npm/
.p4tickets
.rdebug_hist
.resty/
.ri/
.rvm/
.rvm_history
.scala_history
.sdedit.conf
.ssh
.smartbear/
.sqlite_history
.subversion
.vagrant
.vim/.netrwhist
.vim_backup/
.viminfo
.vmc_*
.wireshark-etc/
.wireshark/
*.swp
Thumbs.db
tmux*.log
