Calibre\ Library
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
bin/ec2/
bin/mate
bin/work.sh
data
doc
perl5
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.anyconnect
.bash_history
.boom
.cheat/
.chef
.config
.cpan/
.cups/
.dbshell
.dropbox/
.erlang.cookie
.fontconfig/
.fonts
.gem/
.gitconfig
.hd/
.heroku/
.install4j
.irb_history
.irb-history
.irssi/
.lesshst
.macports
.NERDTreeBookmarks
.p4tickets
.rdebug_hist
.resty/
.ri/
.rvm/
.rvm_history
.sdedit.conf
.ssh
.subversion
.smartbear/
.sqlite_history
.vagrant
.vim/.netrwhist
.vim_backup/
.viminfo
.vmc_*
.wireshark-etc/
.wireshark/
*.swp
Thumbs.db
